label{
    display:block;
    padding-top:10px;
    }
    form{
      width: 60vw;
        max-width: 500px;
        min-width: 300px;
        margin: 0 auto;
        padding-bottom: 2em;
    }
    fieldset{
      border:0;
    }
    h1,p{
      text-align:center;
    }
    input[type="text"]{
      display:block;
    }
    input[type="number"]{
      display:block;
    }
    input[type="email"]{
      display:block;
    }
    input[type="submit"]{
      display:block;
      width: 60%;
        margin: 1em auto;
        height: 2em;
        font-size: 1.1rem;
    }
    div{
      border:1px solid;
    }